<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Latitude</th><th>Longitude</th>
          </tr>
        </thead>
        <tbody>
          {{#each points}}
            <tr>
              <td> {{name}} </td>
              <td> {{description}} </td>
              <td> {{category}} </td>
              <td>{{location.lat}}</td><td>{{location.lng}}</td>
              <td><a href="/pointView/{{_id}}" ><i><b>View</b></i></a></td>
              <td><a href="/addcomment/{{_id}}" ><i><b>Add Comment</b></i></a></td>
              <td><a href="/viewcomment/{{_id}}" ><i><b>View Comment</b></i></a></td>
             </tr>
          {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>